.navbar-profile-pic img{
    display:flex;
    border-radius:90px;
    height:150px;
    width:150px;
    vertical-align: middle;
    margin: 0 auto;
   

}


.nav-items{
    color:white;
    margin-left:25px;
    margin-top:30px;
    cursor:pointer;
}

.nav-link{
    cursor:pointer;
    margin-top:20px;
  
  
}
.nav-link a{
    color: white;
    text-decoration: none;
}

.nav-link :hover{
    color:#2989e2;
}

.nav-link svg{
    margin-right:10px
}