#ProfileQualityS{
    font-weight: 400;
    font-size: 18px;
    margin: 30px 22px;
    margin-left: 250px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#ProfileQualityB{
    font-weight: 400;
    font-size: 18px;
    margin: 30px 22px;
    margin-left: 115px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prof-content p{
    padding: 2px;
    border-bottom: 3px solid grey;
    border-radius:8px;
    color: black;
}

  /* dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* dropdown button */
  #dropdownSelect {
    margin-top: 20px;
    margin-left: 9px;
    height: 41px;
    width: 280px;
    padding: 10px;
    background-color: #e8edf1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  

 

  #button:hover{
    background-color:white;
    color:#1e1e2c;
    border-color:#1e1e2c;
   

  }

  #button{
    display:inline-block;
    padding:5px 20px;
    border-radius:7px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    border-color: white;
    color: white;
    margin-left: 20px;
    background-color: #1e1e2c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }