.container{

    max-width:400px;
    margin:50px auto;
    padding:20px;
    background-color:#fff;
    border-radius:5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    
}

h1{
    text-align:center;

}

label{
    font-weight:bold;
}

.form-control {

    margin-bottom:15px;

}

.btn-primary{
    width:100%;
    color:white;
    background-color:#1e1e2c;
    border:none;
}

.btn-primary:hover{
    background-color:#5c5c6d;
}
a{
    text-decoration:none;
}

@media (max-width:400px){
    .container{
        width:300px !important;
    }
}

